.main{
    position: absolute;
    display: block;
    width: 50%;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    left: 25%;
    box-shadow: 0 0 5px black;
    transition: 300ms;
}

img{
    display: block;
    transition: 300ms;

}

.side{
    height: 150px;
    padding-bottom: 5px;
    transition: 300ms;
}

.sideWrapper{
    width: 20%;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 80%;
}

body{
    overflow: hidden;
}